{% extends 'animalerie/base.html' %}
{% load static %}
{% block content %}
<div class="change">
    <h1>
        <a  class="title" href="/">{{ animal.id_animal }}</a>
    </h1>
    <form class="anim">
        <img src= {{animal.photo}} alt="" width="300" height="225">
    </form>
    <form method="POST" class="postagem post-form" id="detail">{% csrf_token %}
        <b> Changer : </b> {{ form.as_ul }}
        <button type="submit" class="btn btn-outline-dark">OK</button>
        <input type="button" value="Back" onclick="window.location.href='/animal';" class="botao">
    </form>
    {% if message != ''%}
        <div class="alert alert-danger" role="alert">
            {{message}}
        </div>
    {% endif %}
</div>


{% endblock %}